@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import 'stylemovil.css';

body{
    font-family: 'roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    background-image: url(../Imagenes/Contacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
}
.img-logo{
    margin-top: 20px;
    width: 8em;
    height: 8em;
    border-radius: 1em;
    box-shadow: 0px 0px 20px 5px rgb(255, 255, 255);
}

.navbar{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    padding: 30px;
}

.navbar .menu{
    grid-column: 6/9;
    display: flex;
    margin-top: 12px;
}
.navbar .menu-bar{
    color:  rgb(111, 0, 255);
    font-size: 2.5em;
}
.menu li{
    list-style: none;
}

.menu li a{
    text-decoration: none;
    margin-right: 3em;
    color: rgb(0, 236, 253);
    border-radius: 20px;
    font-size: 2em;
    font-weight: 400;
    font-family: Chiller;
}

.menu li a:hover{
    background-color: crimson;
    transition: all .10s;
    border-radius: 20px;
    box-shadow: 0px 13px 14px 8px rgb(111, 0, 255);
}

.img1{
    box-shadow: 0px 13px 14px 8px rgb(111, 0, 255);
}
.content-info{
    margin-top: 5em;
    color: cyan;
}

.content-info .display-1{
    font-weight: 900;
    color: rgb(111, 0, 255);
    font-family: Colonna Mt;
}

.content-info .display-2{
    font-weight: 600;
    color: cyan;
    font-family: Viner Hand ITC;
}

button{
    cursor: pointer;
    color: chartreuse;
    box-shadow: 0px 13px 14px 8px rgb(111, 0, 255);
}

button:hover{
    box-shadow: none;
    background-color: crimson;
    transition: all .10s;
}

.btn-tobuy, .read-more{
    background: none;
    padding: 8px 40px;
    font-size: 1.2em;
    border-radius: 20px;
    border: 3px solid steelblue;
}

.read-more{
    background: none;
    border: 3px solid steelblue;
    margin: 20px;
}
.main{
    margin-left: 5em;
    text-align: center;
}
.main img{
    margin: 3em;
}